.lyric-content {
    h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    & > p {
        font-style: italic;
    }
    pre {
        font-size: 21px;
        color: #fff;
        max-width: 60ch;
        line-height: 1.5;
        margin-top: 24px;
    }
}
